.container-1 {
    display: flex;
    margin: 0px auto;
}
.panel-1 {
    align-items: stretch;
    background: #eee;
    padding: 10px;
}
.panel-2 {
    align-items: stretch;
    background: #ccc;
}
.panel-3 {
    align-items: stretch;
    background: #ddd;
    padding: 10px;
}

.gallery {
    background: #777;
    display: inherit;
    float: left;
    padding: 10px;
    width: calc(50% - 20px);
}
.history {
    background: #aaa;
    display: inherit;
    float: right;
    padding: 10px;
    width: calc(50% - 20px);
}
.catalog {
    background: #bbb;
    clear: both;
    display: inherit;
    padding: 10px;
    width: calc(100% - 20px); ;
}

@media only screen and (min-width : 0px) and (max-width : 768px) {
    .container-1 {
        flex-direction: column;
    }
    .panel-1 {
        order: 1;
    }
    .panel-2 {
        flex-grow: 1;
        order: 0;
    }
    .panel-3 {
        height: 20px;
        order: 1;
        width: calc(100% - 20px);
    }
    .gallery {
        height: 200px;
        width: calc(40% - 20px);
    }
    .history {
        height: 200px;
        width: calc(60% - 20px);
    }
    .catalog {
        height: 340px;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .container-1 {
        width: 768px;
        flex-direction: column;
    }
    .panel-1 {
        order: 1;
    }
    .panel-2 {
        flex-grow: 1;
        order: 0;
    }
    .panel-3 {
        width: calc(100% - 20px);
        height: 20px;
        order: 1;
    }
    .gallery {
        width: 468px;
        height: 300px;
    }
    .history {
        height: 300px;
        width: calc(100% - 508px);
    }
    .catalog {
        height: 340px;
    }
}

@media only screen and (min-width : 1024px) and (max-width : 1280px) {
    .container-1 {
        margin-top: 70px;
        width: 1024px;
        position: relative;
    }
    .panel-1 {
        width: 200px;
    }
    .panel-2 {
        flex-grow: 1;
    }
    .panel-3 {
        margin-top: -70px;
        width: calc(100% - 20px);
        align-self: flex-start; 
        height: 50px;
        position: absolute;
    }
    .gallery {
        width: 468px;
        height: 300px;
    }
    .history {
        height: 300px;
        width: calc(100% - 508px);
    }
    .catalog {
        height: 318px;
    }
}

@media only screen and (min-width : 1280px) and (max-width : 1440px) {
    .container-1 {
        margin-top: 70px;
        width: 1280px;
        position: relative;
    }
    .panel-1 {
        width: 200px;
    }
    .panel-2 {
        flex-grow: 1;
    }
    .panel-3 {
        margin-top: -70px;
        width: calc(100% - 20px);
        align-self: flex-start; 
        height: 50px;
        position: absolute;
    }
    .gallery {
        width: 468px;
        height: 300px;
    }
    .history {
        height: 300px;
        width: calc(100% - 508px);
    }
    .catalog {
        height: 318px;
    }
}

@media only screen and (min-width : 1440px) and (max-width : 1680px) {
    .container-1 {
        margin-top: 70px;
        width: 1440px;
        position: relative;
    }
    .panel-1 {
        width: 250px;
    }
    .panel-2 {
        flex-grow: 1;
    }
    .panel-3 {
        margin-top: -70px;
        width: calc(100% - 20px);
        align-self: flex-start; 
        height: 50px;
        position: absolute;
    }
    .gallery {
        width: 550px;
        height: 350px;
    }
    .history {
        height: 350px;
        width: calc(100% - 590px);
    }
    .catalog {
        height: 318px;
    }
}

@media only screen and (min-width : 1680px) and (max-width : 1920px) {
    .container-1 {
        width: 1680px;
    }
    .panel-1 {
        width: 280px;
        order: 0;
    }
    .panel-2 {
        flex-grow: 1;
        order: 1;
    }
    .panel-3 {
        width: 280px;
        order: 2;
    }
    .gallery {
        width: 580px;
        height: 435px;
    }
    .history {
        width: 460px;
        height: 435px;
    }
    .catalog {
        height: 400px;
    }
}

@media only screen and (min-width : 1920px) {
    .container-1 {
        width: 1920px;
    }
    .panel-1 {
        width: 280px;
        order: 0;
    }
    .panel-2 {
        flex-grow: 1;
        order: 1;
    }
    .panel-3 {
        width: 280px;
        order: 2;
    }
    .gallery {
        width: 640px;
        height: 480px;
    }
    .history {
        width: 640px;
        height: 480px;
    }
    .catalog {
        height: 400px;
    }
}















/* IGNORE THE STYLES BELOW */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}
body:before {
    background: #fff;
    top: 0;
    left: 0;
    padding: 10px;
    color: #ccc;
}

@media only screen and (min-width : 0px) and (max-width : 768px) {
    body:before {
        content: "0 - 768px";
    }
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    body:before {
        content: "768px - 1024px";
   }
}
@media only screen and (min-width : 1024px) and (max-width : 1280px) {
    body:before {
        content: "1024px - 1280px";
   }
}
@media only screen and (min-width : 1280px) and (max-width : 1440px) {
    body:before {
        content: "1280px - 1440px";
   }
}
@media only screen and (min-width : 1440px) and (max-width : 1680px) {
    body:before {
        content: "1440px - 1680px";
   }
}
@media only screen and (min-width : 1680px) and (max-width : 1920px) {
    body:before {
        content: "1680px - 1920px";
   }
}
@media only screen and (min-width : 1920px) {
    body:before {
        content: "1920px upwards";
   }
}